body.product .section-wrapper {
    display: block;
}
body.product .product-main .product_section.container {
    justify-content: space-evenly;
}
.product__images.three-fifths {
    max-width: 700px;
    padding: 10px;
    min-height: 400px;
}
.product__details--product-page {
    max-width: 360px;
    padding-bottom: 40px;
}
.product__details--product-page .price-ui .savings {
    display: none;
}
ul.pdp-custom-swatch-lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.pdp-custom-swatch-lists li {
    border: 1px solid #e2e2e2;
    margin: 0 4px 4px 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
}
ul.pdp-custom-swatch-lists li.active {
    border: 2px solid #000;
    padding: 1px;
}
ul.pdp-custom-swatch-lists li img {
    min-height: 100%;
    min-width: 100%;
    width: 22px;
    height: 22px;
    border: 2px solid #e2e2e2;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
}
.modal_price ul.pdp-custom-swatch-lists,
.modal_price ul.pdp-custom-swatch-dropdown-lists-with-swatch{
max-width: 160px;
}
.modal_price ul.pdp-custom-swatch-lists li,
.modal_price ul.pdp-custom-swatch-dropdown-lists-with-swatch li {
    width: 35px;
    height: 35px;
    border-width: 3px;
    margin: 0 8px 8px 0;
}
.modal_price ul.pdp-custom-swatch-lists li.active,
.modal_price ul.pdp-custom-swatch-dropdown-lists-with-swatch li.active {
    border: 3px solid #0090fc;
    padding: 5px;
}
ul.pdp-custom-swatch-lists li.active img{
    border-width: 0;
}
h1.product_name{
    font-family: neuzeitgroteskblack;
    letter-spacing: 0;
    max-width: 200px;
    text-align: left;
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
}
body[data-template="primary"] h1.product_name,
body[data-template="primary-alternate"] h1.product_name  {
    max-width: initial;
    font-size: 40px;
    line-height: 1;
}
.product-block.product-block--price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
body[data-template="primary-alternate"] .product-block.product-block--price {
    justify-content: space-between;
}
body[data-template="primary-alternate"] form.shopify-product-form p.selected-swatch-text,
body[data-template="primary"] form.shopify-product-form p.selected-swatch-text{
    display: none!important;
}
.price-note{
    padding-left: 15px;
    color: #898989;
    font-size: 15px;
    font-family:'neuzeit_grotesk_light';
    font-weight: 700;
}
.modal_price{
    margin-bottom: 0px;
    padding-bottom: 0;    
}
h3.pdp-custom-swatch-heading {
    font-family:'neuzeit_grotesk_light';
}
.swatch_options > .swatch {
    display: none;
}
.product_section .modal_price .pdp-custom-swatch {
    flex: 0 0 100%;
}
@media screen and (min-width: 768px) {
    .swatch_options {
        margin-top: 1.5em;
    }
    h3.pdp-custom-swatch-heading {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 1em;
        font-weight: 600;
        color: #4a4a4a;
        letter-spacing: 0.5px;
    }
    .product_section .modal_price h3.pdp-custom-swatch-heading {
        margin-top: 0px;
    }
}
@media screen and (max-width: 767px) {
    .product-block.product-block--price {flex-wrap: wrap;}
    .product_section .modal_price { flex: 0 0 50%;}
    .price-note {padding-left: 0px; padding-bottom:15px; flex: 0 0 100%;}    
}
.purchase-details .add_to_cart.global-button{
    font-family: neuzeitgroteskblack;
    font-size: 1em;
    border-radius: 5px;
}
.promo.desktop {
    background: white;
    text-align: center;
    padding: 16px 0 25px;
}
.promo.desktop h3 {
    text-align: center;
    margin-bottom: 6px;
    font-size: 22px;
    font-family: neuzeitgroteskblack;
}
.promo.desktop .text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo.desktop .text p{
    border-left: 1px solid #8a8a8a;
    color: #000;
    padding: 0 8px;
    font-size: 15px;
    letter-spacing: 1.5px;
    margin: 0;
    font-family: 'neuzeit_grotesk_regular';
    font-weight: 600;
}
body[data-template="primary-alternate"] .promo.desktop .text p{
    padding: 10px 20px 0;
    font-weight: 400;
}
.promo.desktop .text p:first-child {
    border-left: none;
}
.product-feature .container {
    justify-content: center;
}
.product-feature ul li img {
    display: inline-block;
    margin: 0 10px 0px;
    width: 30px
}
.product-feature ul li p {
    width: auto;
    display: inline-block;
    line-height: normal;
    font-size: 20px;
    font-family: neuzeitgroteskblack;
    font-weight: 400;
    margin-bottom: 0;
}
.product-feature ul li p.text-mobile {
    display: none;
}
.product-feature ul.columns {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width:992px;
}
.product-feature ul.columns li {
    flex: 0 0 33.333%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
@media screen  and (max-width: 767px) {
    .product-feature ul li p.text-desktop {
        display: none;;
    }
    .product-feature ul li p.text-mobile {
        display: block;
        flex: 0 0 100%;
        font-size: 16px;
        font-family: inherit;
        font-weight: 400;
        text-align: center;
        font-family:'neuzeit_grotesk_regular';
        padding-top: 10px;
    }
    .product-feature ul.columns {
        align-items: flex-start;
    }
    .product-feature ul.columns li {
        align-items: center;
        flex-wrap: wrap;
        padding: 0.75rem;
        margin: 0;
        justify-content: center;
    }
}

/* Product Tabs */
.product-tab .tab-head .columns {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    border-bottom: 2px solid #afafaf;
}
.product-tab .tab-head .columns li{
    padding: 0;
    cursor: pointer;
    background-color: #f8f8f8;
    border: none;
    color: #bdbdbd;
    padding: 10px 0;
    font-family: neuzeitgroteskblack;
    font-size: 17px;
    border: 2px solid #d7d7d7;
    border-radius: 5px 5px 0 0;
    font-family: neuzeitgroteskblack;
    bottom: -2px;
    position: relative;
    flex: auto;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 0;
    border-bottom: 0;
    height: 43px;
}
.product-tab .tab-head .columns li:last-child{
    margin-right: 0;
}
.product-tab .tab-head .columns li.active{
    height: 45px;
    border-color: #afafaf;
    color: #008ffd;
    background: #fff;
}
.body-content {
    padding: 40px 0;
    display: none;
}
.body-content.active-tab-content {
    display: block;
}
.body-content video {
    max-width: 100%;
}
.body-content .videos-columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.body-content .videos-columns .column {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    position: relative;
    height: 0;
    padding-bottom: calc(50% - 30px);
    overflow: hidden;
}
.body-content .videos-columns .column.accessories-column-content {
    padding-bottom: 0;
    height: auto;
}
.body-content .videos-columns .column video {
    position: absolute;
    bottom: -70px;
    left: 0;
    height: auto;
    width: 100%;
    object-fit: contain;
}
.accessories-column-media {
    position: relative;
    height: 0;
    padding-bottom: 57%;
    text-align: center;
}
body[data-template="primary-alternate"] .accessories-column-media {
    padding-bottom: 140%;
}
.body-content .videos-columns .column.accessories-column-content .accessories-column-media video, 
.body-content .videos-columns .column.accessories-column-content .accessories-column-media img {   
    top: 50%;
    left: 50%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    transform: translate(-50%, -50%);
}
body[data-template="primary-alternate"] .body-content .videos-columns .column.accessories-column-content .accessories-column-media video, 
body[data-template="primary-alternate"] .body-content .videos-columns .column.accessories-column-content .accessories-column-media img { 
    object-fit: cover;
}

.body-content .videos-columns .column:nth-last-of-type(2) video{
    bottom: -280px;
}
.body-content .videos-columns .column.accessories-column-content:nth-last-of-type(2) video,
.body-content .videos-columns .column.accessories-column-content:nth-last-of-type(2) img{
    bottom: initial;
}
.column-content-area {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.column-content-area > * {
    flex: 0 0 100%;
}
.column-content-icon img {
    max-height: 50px;
    height: auto;
    display: inline-block;
}
.column-content-area .column-content-heading {
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-size: 40px;
    font-family: 'neuzeitgroteskblack';
    line-height: 1;
    font-size: 30px;
    color: #0f8cfa;
}
.body-content[data-type="about"] h2 {
    font-size: 28px;
    color: #008ffd;
    text-align: center;
    letter-spacing: .1px;
    font-family: neuzeitgroteskblack;
    margin-bottom: 30px;
}
.body-content .videos-columns .column p,
.body-content .videos-columns .column.accessories-column-content p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 30px 40px;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    color: #000;
    margin-bottom: 0;
}
.body-content .videos-columns .column.accessories-column-content p{
    position: relative;
    padding: 10px 30px;
}
.body-content .highlights {
    padding: 60px 0;
}
.highlights .column p.caption {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;   
    position: relative;
    padding: 0;
    font-family:'neuzeit_grotesk_regular';
}
.highlights .column h3 {
    font-size: 36px;
    line-height: normal;
    margin: 10px 0;
    color: #0090fc;
    margin: 0;
    font-family: 'neuzeit_grotesk_regular';
    margin-bottom: 10px;
}

.highlights .columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.highlights .columns p:empty {
    display: none;
}
.highlights .columns .column {
    flex: 0 0 50%;
    padding: 0 20px;
}
.highlights .columns .column img{
    width: 100%;
}
.section.accessories-top-section-layout h2 {
    margin: 0;
    font-size: 40px;
    padding: 0 20px;
    text-align: center;
    line-height: 1;
    font-family: 'neuzeitgroteskblack';
    margin-bottom: 30px;
    color: #4a4a4a;
}
.section.accessories-top-section-layout .pdp-tab-block-desc {
    max-width: 760px;
    margin: 0 auto 30px;
    text-align: center;
    padding: 0 20px;
    font-family: 'neuzeit_grotesk_light';
    font-size: 17px;
}
.social-impact-data {
    border-top: 2px solid #c3c3c3;
    border-bottom: 2px solid #c3c3c3;
    margin-bottom: 6px;
    padding: 8px 0;
    text-align: center;
    font-family: 'neuzeitgroteskblack';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}
.product-block.product-block--first .feature-divider{
    display: none;
}
.social-impact-data img {
    max-height: 15px;
    margin: 0 6px;
}
.section.accessories-top-section-layout h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'neuzeitgroteskblack';
    margin-bottom: 0;
}
.body-content[data-type="specs"] .columns{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 30px;
}
.body-content[data-type="specs"] .columns .column {
    padding: 0.75rem;
}
.body-content[data-type="specs"] .columns .column.is-4 {
    flex: 0 0 33.333%
}
.body-content[data-type="specs"] .columns .column.is-8 {
    flex: 0 0 66.666%
}
.body-content[data-type=specs] .columns .column.is-8.full-width,
.body-content[data-type="specs"] .columns .column.is-4.full-width-layout,
.body-content[data-type="specs"] .columns .column.is-8.full-width-layout {
    flex: 0 0 100%;
}
.body-content[data-type="installation"] .section .lazyframe,
.body-content[data-type="installation"] .section video {
    margin-bottom: 20px;
}
.body-content[data-type="reviews"] {
    padding-top: 0px
}
.body-content[data-type="reviews"] #stamped-main-widget {
    margin-top: 0px;
}
.section.size-chart-content img {
    margin: 0 auto;
    display: block;
    max-height: 80px;
}

.size-chart-content > h2 {
    font-family: 'neuzeitgroteskblack';
    font-size: 30px;
    margin: 0;
    text-align: left;
    line-height: 1;
    margin-bottom: 20px;
}
.size-chart-content table{
    width: 100%;
    margin-bottom: 40px;
}
.size-chart-content td {
    border: 1px solid #c3c3c3;
    text-align: center;
    font-family: 'neuzeit_grotesk_regular';
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 700;
}
.size-chart-content td.gender {
    vertical-align: middle;
    color: #fff;
    background-color: #0090fc;
    border-color: #0090fc;
    font-size: 20px;
    font-family: 'neuzeitgroteskblack';
    letter-spacing: normal;
    width: 120px;
    font-size: 26px;
    border-right: none!important;
}
.size-chart-content td.size-name {
    color: #fff;
    background-color: #0090fc;
    border-color: #0090fc;
    font-family: inherit;
    font-size: 18px;
    letter-spacing: normal;
    text-transform: uppercase;
    font-family: 'neuzeit_grotesk_regular';
    border-right: none!important;
    border-left: none!important;
}
.size-chart-content-area.text-center {
    font-family: 'neuzeit_grotesk_regular';
    font-size: 18px;
    font-weight: 500;
}
.size-chart-content-area > h3 {
    font-family: 'neuzeitgroteskblack';
    font-size: 30px;
    margin: 0;
    text-align: center;
    line-height: 1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
.size-chart-content-area > h3:after {
    content: '';
    width: 60px;
    border-bottom: 1px solid #c3c3c3;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
[data-type="specs"] .full-width-layout > h3,
[data-type="specs"] .full-width-layout > h4 {
    font-family: 'neuzeitgroteskblack';
    font-size: 70px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    line-height: 1;
    letter-spacing: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
[data-type="specs"] .full-width-layout p {
    font-family: 'neuzeit_grotesk_regular';
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
}
[data-type="specs"] .full-width-layout > h4{
    font-size: 40px;
    margin-top: 50px;
}
[data-type="specs"] .media.full-width-layout{
    text-align: center;
}
[data-type="specs"] .media.full-width-layout img {
    max-height: 80px;
}
[data-type=specs] .media.full-width-layout.full-width img {
    max-height: initial;
}
p.selected-swatch-text {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'neuzeitgroteskblack';
    font-size: 12px;
    letter-spacing: .1px;
    margin-bottom: 30px;
}
body[data-template="primary-alternate"] p.selected-swatch-text,
body[data-template="primary"] p.selected-swatch-text {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}
.pdp-custom-swatch {
    margin-bottom: 15px;
}
/* Shoe type icons */
.shoes-types {
    display: block;
    width: 100%;
  }
  .shoes-types ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .shoes-types ul li {
    flex: 0 0 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
  }
  .shoes-types ul li img,
  .shoes-types ul li span {
    text-align: center;
    letter-spacing: .1px;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    font-family: neuzeitgroteskblack;
    text-transform: uppercase;
    flex: 0 0 100%;
  }
  .shoes-types ul li img {
    width: 36px;
    height: 36px;
    display: block;
  }
  .product-quantity-box.purchase-details__quantity {
    margin-right: 5px;
    width: calc(50% - 12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 35%;
    margin-right: 10px;
}
.purchase-details__quantity.product-quantity-box > .ss-icon {
    flex: 0 0 33px;
    border: 2px solid #000;
    color: #000;
    background: transparent;
    height: 42px;
    border-radius: 5px;
    padding: 0;
    font-weight: 700;
}
.product-quantity-box.purchase-details__quantity input.quantity {
    border: 2px solid;
    border-radius: 5px;
    min-height: 42px;
    background: transparent;
    padding: 0;
    min-width: 43px;
    font-weight: 700;

}
.product-primary .section-wrapper .shopify-section-wrapper,
.product-primary-alternate .section-wrapper .shopify-section-wrapper,
.product-primary-wipe .section-wrapper .shopify-section-wrapper{
    width: 100%;
}
.product-primary-alternate .product-main .container,
.product-primary .product-main .container {
    justify-content: space-evenly;
}
.pdp-custom-swatch-dropdown {
    flex: 0 0 50%;
    position: relative;
}

.pdp-custom-swatch-dropdown h3.pdp-custom-swatch-heading{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0 5%;
    margin-top: 0px;
}
.pdp-custom-swatch-dropdown .pdp-custom-swatch-dropdown-lists {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
    margin-top: -3px;
    width: 100%;
    margin-bottom: 10px;
    max-width: 90%;
    list-style: none;
    display: none;
    position: absolute;
    width: 100%;
    right: 9px;
    z-index: 9;
}
.pdp-custom-swatch-dropdown-lists-with-swatch{
    margin: 0;
    padding: 0;
    list-style: none;
}
.pdp-custom-swatch-dropdown-lists-with-swatch .pdp-custom-swatch-dropdown-item-swatch{
    display: inline-block;
    font-family: 'neuzeitgroteskblack';
    border: 1px solid #000;
    width: 52px;
    height: 32px;
    font-size: 25px;
    text-align: center;
    margin-right: 6px;
    line-height: 34px;
    cursor: pointer;
}
.pdp-custom-swatch-dropdown  .pdp-custom-swatch-dropdown-item {
    display: inline-block;
    font-family: 'neuzeitgroteskblack';
    border: 1px solid #000;
    width: 52px;
    height: 32px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 34px;
    width: 100%;
    margin: 3px 0;
    cursor: pointer;
}
li.pdp-custom-swatch-dropdown-item.active,
li.pdp-custom-swatch-dropdown-item-swatch.active {
    background-color: #0090fc;
    border-color: #0090fc;
    color: #fff;
}
span#pdp-custom-swatch-size-selected-option {
    position: relative;
    height: 30px;
    width: 100%;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    line-height: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    font-family: 'neuzeitgroteskblack';
    text-align: center;
}
span#pdp-custom-swatch-size-selected-option:after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 7px;
    right: 10px;
    border: 2px solid #4a4a4a;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    transform-origin: center;
}
span#pdp-custom-swatch-size-selected-option.clicked:after {
    transform: rotate(225deg);
    top: 12px;
}
.pdp-custom-swatch-dropdown.with-swatch span#pdp-custom-swatch-size-selected-option {
    display: none!important;
}
.pdp-custom-swatch-dropdown.with-swatch .pdp-custom-swatch-dropdown-lists {
    background: none;
    border: none;
    display: block!important;
}
.product__details--product-page .price-ui .sold_out,
.price-ui-badges {
    display: none!important;
}
body[data-template="primary-alternate"] .body-content .videos-columns {
    align-items: flex-start;
}

.data-product-gallery-nav {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 15px;
    z-index: 99;
    bottom: 10px;
}
.data-product-gallery-nav span {
    font-size: 0;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    background: #000;
    opacity: .2;
}
.data-product-gallery-nav span.active {
    opacity: 1;
    background: #007aff;
}
.loader-visible:after,
.product_gallery .image__container:before {
    border: none;
    -webkit-animation: swiper-preloader-spin 1s steps(12) infinite;
    animation: swiper-preloader-spin 1s steps(12) infinite;
    position: relative;
}
.loader-visible:after,
.product_gallery .image__container:before {
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/1206/8416/files/swiper-loader.svg?v=1689757798) no-repeat center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.loader-visible:after{
    z-index: 1;
}
.product_gallery img {
     background-color: transparent!important;   
}
@media screen and (max-width: 767px) {
    .product-tab .tab-head .columns {border-bottom: 0;}
    .product-tab .tab-head .columns li {
    cursor: pointer;
    background-color: #f8f8f8;
    border: none;
    color: #bdbdbd;
    padding: 10px 0;
    font-family: inherit;
    font-size: 15px;
    margin: 0;
    border-radius: 0;
    }
    .product-tab .tab-head .columns li:not(:last-child) {
        border-right: 1px solid #d7d7d7;
    }
    .product-tab .tab-head .columns li.active {
        position: relative;
        background-color: #0090fc;
        color: #fff;
    }
    .product-tab .tab-head .columns li.active:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff;
    }
    .body-content {
        padding-top: 30px;
    }
    .top-video {
        padding: 0 10px 40px;
    }
    .body-content .videos-columns .column {
        flex: 0 0 calc(100% - 20px);
        margin: 10px;
        position: relative;
        height: 0;
        padding-bottom: calc(100% - 0px);
        overflow: hidden;
    }
   
    .body-content .videos-columns .column:nth-last-of-type(2) video {
        bottom: -200px;
    }
    .body-content .highlights {padding: 0;}
    .highlights .columns {
        padding: 20px;
    }
    .highlights .columns .column {
        flex: 0 0 100%;       
        text-align: center;
        padding: 0;
    }
    .highlights .column p.caption {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        position: relative;
        padding: 0;
        margin: 0;
        transform: none;
    }
    .accordion>dt>a, .accordion>dt>button, .faqAccordion>dt>a, .faqAccordion>dt>button {
        font-family: inherit;
        font-size: 28px;
        position: relative;
        padding-left: 50px;
        color: #676767;
        font-size: 17px;
        display: block;
        cursor: pointer;
    }
    .section.faq .container {
        padding: 0 20px;
    }
    .product__images.three-fifths {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .product__details--product-page {
        width: 100%;
        max-width: 100%;
        padding: .75rem .75rem 10px;
        background-color: #ffffff;
        margin: 0!important;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 0px;
    }
    h1.product_name {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: .3px;
        width: auto;
        padding-top: 10px;
        margin-bottom: 10px;
        color: #000;
        max-width: 100%;
    }
    p.selected-swatch-text {
        margin-bottom: 10px;
    }
    .modal .modal_price, .modal_price {
        font-size: 16px;
    }
    .product-block.product-block--price{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .product-rating {
        margin: 0 0 25px;
    }
    .pdp-custom-swatch-heading {
        font-weight: 600;
        margin-top: 10px;
        font-family: inherit;
        margin-bottom: 0;
        color: #4a4a4a;
        font-size: 16px;
    }
    ul.pdp-custom-swatch-lists li {
        width: 42px;
        height: 42px;
    }
    .swatch_options {
        margin-bottom: 0;
    }
    .purchase-details__buttons{
        margin-top: 0;
    }
    .smart-payment-button--false .purchase-details{
        padding-bottom: 15px;
    }
    .shoes-types {
        padding-bottom: 15px;
    }
    .shoes-types ul li {
        flex: 0 0 auto;
        padding: 0 3px;
        margin-bottom: 0;
    }
    .shoes-types ul li img, .shoes-types ul li span {
        flex: 0 0 auto;
    }
    .shoes-types ul li img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    .promo.desktop {
        background: #f1f2f2;
        margin-bottom: 10px;
    }
    .section.size-chart-content {
        padding: 0 15px;
    }
    .size-chart-content td.gender {
        width: 85px;
        font-size: 18px;
    }
    .size-chart-content td.size-name {
        font-size: 14px;
        font-weight: normal;
    }
    .section.size-chart-content img{
        max-height: 35px;
    }
    .size-chart-content-area.text-center,
    [data-type=specs] .full-width-layout p {
        font-size: 16px;
    }
    .body-content[data-type=specs] .columns {
        padding: 0 15px;
    }
    .body-content[data-type=specs] .columns .column.is-8.full-width,
    .body-content[data-type=specs] .columns .column.is-4.full-width-layout,
    .body-content[data-type=specs] .columns .column.is-8.full-width-layout {
        padding: 0;
    }
    [data-type=specs] .full-width-layout>h3, [data-type=specs] .full-width-layout>h4 {
        font-size: 35px;
    }
    [data-type=specs] .media.full-width-layout.full-width img {
        max-height: initial;
    }
    .body-content[data-type=installation] .section {
        padding: 0 15px;
    }
    .product-feature ul li p.text-mobile{
        word-break: break-word;
    }
    body[data-template="primary"] .pdp-custom-swatch-dropdown,
    body[data-template="primary-alternate"] .pdp-custom-swatch-dropdown {
            text-align: center;
        padding-left: 15px;
    }
    body[data-template="primary-alternate"] .product_section .modal_price,
    body[data-template="primary"] .product_section .modal_price {
        border-right: 2px solid #cacaca;
        margin-bottom: 15px;
    }
    body[data-template="primary"] .shopify-product-form,
    body[data-template="primary-alternate"] .shopify-product-form {
        border-top: 2px solid #cacaca;
        padding-top: 15px;
    }
    body[data-template="primary-alternate"] .promo.desktop.hide_mobile,
    body[data-template="primary"] .promo.desktop.hide_mobile{
    display: block!important;
    background: none;
   }
   body[data-template=primary-alternate] h1.product_name + p.selected-swatch-text,
   body[data-template=primary] h1.product_name + p.selected-swatch-text,
   body[data-template=primary] .pdp-custom-swatch-heading,
   body[data-template=primary-alternate] .pdp-custom-swatch-heading {
    display: none;
   }
   body[data-template=primary] .pdp-custom-swatch-dropdown .pdp-custom-swatch-heading,
   body[data-template=primary-alternate] .pdp-custom-swatch-dropdown .pdp-custom-swatch-heading {
    display: block;
   }
   body[data-template=primary-alternate] h1.product_name {
    margin-bottom: 0;
   }
   body[data-template=primary] p.selected-swatch-text,
   body[data-template=primary-alternate] p.selected-swatch-text {
    margin-top: 0px;
    margin-bottom: 10px;
   }
   body[data-template=primary-alternate] .primary-alternate-template-swatch-text-mobile {
    text-align: center;
    display: block;
}
body[data-template=primary-alternate] .primary-alternate-template-swatch-text-mobile > *,
body[data-template=primary-alternate] .pdp-custom-swatch-dropdown .pdp-custom-swatch-heading {
    display: inline-block;
    font-family: 'neuzeitgroteskblack';
}
}
@media screen and (max-width: 798px) {
    .product__images.three-fifths {
        max-width: 100%;
        padding: 0;
        overflow: hidden;
        min-height: 300px;
    }
}
@media screen and (min-width: 768px) {
    body[data-template=primary] h1.product_name {
        margin-bottom: 15px;
    }
    body[data-template=primary-alternate] .pdp-custom-swatch-dropdown h3.pdp-custom-swatch-heading{
        padding: 0;
        margin-bottom: 10px;
    }
    body[data-template=primary] .pdp-custom-swatch-dropdown h3.pdp-custom-swatch-heading{
        margin-bottom: 10px;
    }
}
